---
import CaseStudy from "../components/CaseStudy";
import ExperienceCard from "../components/ExperienceCard";
import "../styles/global.css";

// TODO:
// Create components
// Pick a color theme (see https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500)
// Use real images
// Make site responsive

// Experiences
const titleExp = "The NSX-R Project";
const subtitleExp = "Japan's Fiercest Car";
const linkExp = "https://github.com/TheBossT910";
const imageExp = "https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w"

// Case Study
const title = "The NSX-R Project";
const description =
	"represented the ultimate expression of the art form of engineering and racing as expressed from Honda's finest and brightest engineers.";
const link = "https://global.honda/en/heritage/episodes/1990thensx.html";
const linkBtn = "View Project";
const images = [
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143200141-4CQD30YERVW4YNHJ0FZU/art-mg-hondansxrgt2.jpg?format=2500w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143235742-5JZ9PD2OGPGS7SOT3O41/art-mg-hondansxrgt5.jpg?format=1000w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>SEG 3125 Portfolio</title>
	</head>

	<body class="open-sans-regular">
		<!-- Navbar based from https://daisyui.com/components/navbar/-->
		<div
			class="max-lg:collapse bg-base-200 shadow-sm w-full rounded-md sticky top-0 z-50"
		>
			<input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
			<label
				for="navbar-1-toggle"
				class="fixed inset-0 hidden max-lg:peer-checked:block"></label>
			<div class="collapse-title navbar">
				<div class="navbar-start">
					<label
						for="navbar-1-toggle"
						class="btn btn-ghost lg:hidden"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h8m-8 6h16"></path></svg
						>
					</label>
					<button class="btn btn-ghost text-xl">Taha Rashid</button>
				</div>
				<div class="navbar-center hidden lg:flex">
					<ul class="menu menu-horizontal px-1">
						<li><button>Home</button></li>
						<li><button>Experiences</button></li>
						<li>
							<details>
								<summary>Case Studies</summary>
								<ul class="p-2 bg-base-100 w-40 z-1">
									<li><button>Case 1</button></li>
									<li><button>Case 2</button></li>
									<li><button>Case 3</button></li>
									<li><button>Case 4</button></li>
								</ul>
							</details>
						</li>
					</ul>
				</div>
				<div class="navbar-end"></div>
			</div>

			<div class="collapse-content lg:hidden z-1">
				<ul class="menu">
					<li><button>Item 1</button></li>
					<li>
						<button>Parent</button>
						<ul>
							<li><button>Submenu 1</button></li>
							<li><button>Submenu 2</button></li>
						</ul>
					</li>
					<li><button>Item 3</button></li>
				</ul>
			</div>
		</div>

		<!-- Hero -->
		<div class=" flex h-[50%]">
			<!-- Left -->
			<div class="bg-[#8ECAE6] w-[50%] pl-15 py-10">
				<div class="bowlby-one-regular text-7xl">
					Hey!
					<br />
					I'm Taha Rashid,
				</div>
				<div class="pt-5">
					<span class="text-2xl underline decoration-[#FB8500] open-sans-bold"
						>2nd Year Software Engineering Student</span
					>
					<br />
					<span>@ uOttawa, ON, Canada • Car Enthusiast & Gamer</span>
				</div>
			</div>

			<!-- Right -->
			<div class="bg-[#219EBC] flex w-[50%] px-15 py-5">
				<img
					class="w-full object-cover border-8 border-[#FFB703] rounded-2xl "
					src="https://taharashid.com/pfp.jpg"
					alt=""
				/>
			</div>
		</div>

		<!-- Experiences -->
		<div class="mx-15 mt-10">
			<!-- Title -->
			<div class="bowlby-one-regular text-2xl">Experiences</div>

			<!-- Text -->
			<div>
				I'm currently taking a UX/UI course (SEG3125 @ uOttawa) to help
				me grow as a developer.
				<br />
				I have informal experience as a UX/UI designer from my various projects
				+ internships
				<br /><br />
				<span class="open-sans-bold">My (informal) workflow:</span>
				<ul>
					<li>
						1. Look at the project, and take notes about its central
						themes, reasons, and call to actions
					</li>
					<li>
						2. Look for examples from similar projects/competitors
						online & create a collage of design elements I liked
					</li>
					<li>3. Select theming, fonts, colours</li>
					<li>
						4. Hop onto Figma to create a low-fidelity design and
						figure out the flow, interactivity, ease-of-use, and
						other UX elements of the design whilst gathering
						feedback to refine my work
					</li>
					<li>5. Create a high-fidelity concept, and implement!</li>
				</ul>
				<br />
				<span class="open-sans-bold">My tools include:</span>
				<ul>
					<li>- Figma</li>
					<li>- Gimp</li>
					<li>- Pen & Paper</li>
				</ul>
				<br />
				Feel free to take a look at my work & case studies below!
			</div>
		</div>

		<!-- Experiences collage -->
		<!-- Image collage inspired from https://flowbite.com/docs/components/gallery/ -->
		<div class="p-11">
			<div class="bg-[#8ECAE6] rounded-2xl flex">
				<div class="w-1/4">
					<div class="h-3/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					/>
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
				</div>
	
				<div class="w-1/4">
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-3/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
				</div>
	
				<div class="w-1/4">
					<div class="h-3/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
				</div>
				<div class="w-1/4">
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class=" h-3/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
					<div class="h-2/7">
						<ExperienceCard client:load title={titleExp} subtitle={subtitleExp} link={linkExp} image={imageExp} />
					</div>
				</div>
			</div>
		</div>

		<!-- Case Studies -->
		<div class="mx-15 my-10">
			<!-- Title -->
			<div class="bowlby-one-regular text-2xl">Case Studies</div>

			<!-- Content -->
			<div>
				<CaseStudy
					client:load
					title={title}
					description={description}
					link={link}
					linkBtn={linkBtn}
					images={images}
				/>

				<CaseStudy
					client:load
					title={title}
					description={description}
					link={link}
					linkBtn={linkBtn}
					images={images}
				/>

				<CaseStudy
					client:load
					title={title}
					description={description}
					link={link}
					linkBtn={linkBtn}
					images={images}
				/>

				<CaseStudy
					client:load
					title={title}
					description={description}
					link={link}
					linkBtn={linkBtn}
					images={images}
				/>
			</div>
		</div>

		<!-- Inserted content -->
		<!-- <slot /> -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
