---
import CaseStudy from "../components/CaseStudy";
import ExperienceCard from "../components/ExperienceCard";
import "../styles/global.css";

// Using theme: https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500)
// TODO: Make site responsive?

interface CaseStudyProps {
	title: string;
	description: string;
	link: string;
	linkBtn: string;
	images: string[];
}

interface ExperienceCardProps {
	title: string;
	subtitle: string;
	link: string;
	image: string;
}

const caseStudies: CaseStudyProps[] = [
	{
		title: "Service Site",
		description: "Case Study 1 - (coming soon)",
		link: "",
		linkBtn: "x",
		images: [
			"https://media.magnetomagazine.com/app/uploads/2025/12/05165623/JAS-TENSEI-03-1000x500.jpg",
			"https://hips.hearstapps.com/hmg-prod/images/whattobuy-2007hondas2000-jan2023-008-1671295199.jpg",
			"https://www.acura.com/-/media/Acura-Platform/Vehicle-Pages/INTEGRA/2026/features-page/Performance/geared-for-performance/Type-S/2026_Acura_Integra_Features_Performance_Type-S_S.jpg",
			"https://www.mugen-power.com/files/user/carparts/product/news/XPD20260108_%E3%82%A8%E3%82%A2%E3%83%AD%20%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E3%82%A8%E3%82%AD%E3%82%BE%E3%83%BC%E3%82%B9%E3%83%88%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E7%99%BA%E8%A1%A8/Prelude_Rear_1200x800.jpg",
		],
	},
	{
		title: "Memory Game",
		description: "Case Study 2 - (coming soon)",
		link: "",
		linkBtn: "x",
		images: [
			"https://media.istockphoto.com/id/171357703/photo/head-on-chalkboard-with-light-bulb-notes-inside.jpg?s=612x612&w=0&k=20&c=mOW2sZ96mRxqvRkvjROf-l8CcqkNHgdMT-5TKSM46vA=",
		],
	},
	{
		title: "e-Commerce Site",
		description: "Case Study 3 - (coming soon)",
		link: "",
		linkBtn: "x",
		images: ["https://cmsmart.net/images/community/8382/banner.jpg"],
	},
	{
		title: "Analytics Site",
		description: "Case Study 4 - (coming soon)",
		link: "",
		linkBtn: "x",
		images: [
			"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
			"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143200141-4CQD30YERVW4YNHJ0FZU/art-mg-hondansxrgt2.jpg?format=2500w",
			"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143235742-5JZ9PD2OGPGS7SOT3O41/art-mg-hondansxrgt5.jpg?format=1000w",
			"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
		],
	},
];

const experienceCards: ExperienceCardProps[] = [
	// col 1
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://taharashid.com/experiences/",
		image: "/experiences/col_1/home.png",
	},
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://taharashid.com/experiences/",
		image: "/experiences/col_1/schedule.png",
	},
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://taharashid.com/experiences/",
		image: "/experiences/col_1/user.png",
	},

	// col 2
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://github.com/TheBossT910/AnimeTracker",
		image: "/experiences/col_2/list.png",
	},
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://github.com/TheBossT910/AnimeTracker",
		image: "/experiences/col_2/home.png",
	},
	{
		title: "Koyomi",
		subtitle: "AnimeTracker iOS/MacOS app",
		link: "https://github.com/TheBossT910/AnimeTracker",
		image: "/experiences/col_2/main.jpeg",
	},

	// col 3
	{
		title: "SavePoint",
		subtitle: "Fullstack video game management and tracker",
		link: "https://savepoint.ca/",
		image: "/experiences/col_3/detail.png",
	},
	{
		title: "SavePoint",
		subtitle: "Fullstack video game management and tracker",
		link: "https://savepoint.ca/",
		image: "/experiences/col_3/games.png",
	},
	{
		title: "SavePoint",
		subtitle: "Fullstack video game management and tracker",
		link: "https://savepoint.ca/",
		image: "/experiences/col_3/search.png",
	},

	// col 4
	{
		title: "Persona 3 Dual",
		subtitle: "Custom Nintendo DS C++ engine, demake of Persona 3",
		link: "https://github.com/TheBossT910/persona-3-dual",
		image: "/experiences/col_4/main.png",
	},
	{
		title: "Market Analysis System",
		subtitle:
			"AI-driven multi-agent financial investment advisor, built for uOttaHack8",
		link: "https://github.com/Tony-octopus/UOttaHack8",
		image: "/experiences/col_4/mas.png",
	},
	{
		title: "PerfectFit",
		subtitle: "Mock clothes-fitting website, built for SEG2900",
		link: "https://seg-perfect-fit.github.io/perfect-fit-site/",
		image: "/experiences/col_4/perfectfit.png",
	},
];

// Experiences
const titleExp = "The NSX-R Project";
const subtitleExp = "Japan's Fiercest Car";
const linkExp = "https://github.com/TheBossT910";
const imageExp =
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w";

// Case Study
const title = "The NSX-R Project";
const description =
	"represented the ultimate expression of the art form of engineering and racing as expressed from Honda's finest and brightest engineers.";
const link = "https://global.honda/en/heritage/episodes/1990thensx.html";
const linkBtn = "View Project";
const images = [
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143200141-4CQD30YERVW4YNHJ0FZU/art-mg-hondansxrgt2.jpg?format=2500w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143235742-5JZ9PD2OGPGS7SOT3O41/art-mg-hondansxrgt5.jpg?format=1000w",
	"https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1608143215492-4E1V3B85A16EGTJJM3X3/art-mg-hondansxrgt6.jpg?format=2500w",
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>SEG 3125 Portfolio</title>
	</head>

	<body class="open-sans-regular">
		<!-- Navbar based from https://daisyui.com/components/navbar/-->
		<div
			class="max-lg:collapse bg-base-200 shadow-sm w-full rounded-md sticky top-0 z-50"
		>
			<input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
			<label
				for="navbar-1-toggle"
				class="fixed inset-0 hidden max-lg:peer-checked:block"></label>
			<div class="collapse-title navbar">
				<div class="navbar-start">
					<label
						for="navbar-1-toggle"
						class="btn btn-ghost lg:hidden"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h8m-8 6h16"></path></svg
						>
					</label>
					<button class="btn btn-ghost text-xl">Taha Rashid</button>
				</div>
				<div class="navbar-center hidden lg:flex">
					<ul class="menu menu-horizontal px-1">
						<li><button>Home</button></li>
						<li><button>Experiences</button></li>
						<li>
							<details>
								<summary>Case Studies</summary>
								<ul class="p-2 bg-base-100 w-40 z-1">
									<li><button>1 - Service Site</button></li>
									<li><button>2 - Memory Game</button></li>
									<li><button>3 - e-Commerce Site</button></li>
									<li><button>4 - Analytics Site</button></li>
								</ul>
							</details>
						</li>
					</ul>
				</div>
				<div class="navbar-end"></div>
			</div>

			<div class="collapse-content lg:hidden z-1">
				<ul class="menu">
					<li><button>Item 1</button></li>
					<li>
						<button>Parent</button>
						<ul>
							<li><button>Submenu 1</button></li>
							<li><button>Submenu 2</button></li>
						</ul>
					</li>
					<li><button>Item 3</button></li>
				</ul>
			</div>
		</div>

		<!-- Hero -->
		<div class="flex h-[50%]">
			<!-- Left -->
			<div class="bg-[#8ECAE6] w-[50%] pl-15 py-10">
				<div class="bowlby-one-regular text-7xl">
					Hey!
					<br />
					I'm Taha Rashid,
				</div>
				<div class="pt-5">
					<span
						class="text-2xl underline decoration-[#FB8500] open-sans-bold"
						>2nd Year Software Engineering Student</span
					>
					<br />
					<span>@ uOttawa, ON, Canada • Car Enthusiast & Gamer</span>
				</div>
			</div>

			<!-- Right -->
			<div class="bg-[#219EBC] flex w-[50%] px-15 py-5">
				<img
					class="w-full object-cover border-8 border-[#FFB703] rounded-2xl"
					src="https://taharashid.com/pfp.jpg"
					alt=""
				/>
			</div>
		</div>

		<!-- Excerpt taken from my real personal portfolio site, taharashid.ca -->
		<div class="mx-15 mt-10">
			<p>
				I previously did a co-op at
				<a href="https://www.ciena.com/" class="link text-[#FB8500]"
					>Ciena</a
				>, developing embedded software on their 6500 optical networking
				platform with C, Python, and XML.
			</p>
			<br />
			<p class="open-sans-bold">Here's what I've been doing lately:</p>
			<ul>
				<li>
					- Currently building
					<a
						href="https://github.com/TheBossT910/persona-3-ds"
						class="link text-[#FB8500]">Persona 3 Dual</a
					>, a Nintendo DS game engine demake of Persona 3 in C++
					targeting ARM9 hardware.
				</li>
				<li>
					- Previously worked on
					<a href="https://savepoint.ca" class="link text-[#FB8500]"
						>SavePoint</a
					>
					using Nuxt/Vue, .NET/MS SQL, and Tailwind CSS
				</li>

				<li>
					- Last hackathon @
					<a
						href="https://2026.uottahack.ca"
						class="link text-[#FB8500]">uOttaHack8</a
					>, where me and my team built
					<a
						href="https://devpost.com/software/uottahack-8"
						class="link text-[#FB8500]"
						>Market Analysis System (MAS)</a
					>, an AI-powered multi-agent financial investment advisor
					and dashboard
				</li>
			</ul>
			<br />
			<p>
				I'm especially interested in embedded systems and firmware for
				silicon, automotive, and XR. Think low-level software like
				compatibility layers (Rosetta, Proton, FEX) that enables cool
				tech!
			</p>
		</div>

		<!-- Experiences -->
		<div class="mx-15 mt-10">
			<!-- Title -->
			<div class="bowlby-one-regular text-2xl">Experiences</div>

			<!-- Text -->
			<div>
				I'm currently taking a UX/UI course (SEG3125 @ uOttawa) to help
				me grow as a developer.
				<br />
				I have informal experience as a UX/UI designer from my various projects
				+ internships
				<br /><br />
				<span class="open-sans-bold">My (informal) workflow:</span>
				<ul>
					<li>
						1. Look at the project, and take notes about its central
						themes, reasons, and call to actions
					</li>
					<li>
						2. Look for examples from similar projects/competitors
						online & create a collage of design elements I liked
					</li>
					<li>3. Select theming, fonts, colours</li>
					<li>
						4. Hop onto Figma to create a low-fidelity design and
						figure out the flow, interactivity, ease-of-use, and
						other UX elements of the design whilst gathering
						feedback to refine my work
					</li>
					<li>5. Create a high-fidelity concept, and implement!</li>
				</ul>
				<br />
				<span class="open-sans-bold">My tools include:</span>
				<ul>
					<li>- Figma</li>
					<li>- Gimp</li>
					<li>- Pen & Paper</li>
				</ul>
				<br />
				Feel free to take a look at my work & case studies below!
			</div>
		</div>

		<!-- Experiences collage -->
		<!-- Image collage inspired from https://flowbite.com/docs/components/gallery/ -->
		<div class="p-11">
			<div class="bg-[#8ECAE6] rounded-2xl flex h-[800px]">
				<div class="w-1/4">
					<div class="h-3/7">
						<ExperienceCard
							client:load
							title={experienceCards[0].title}
							subtitle={experienceCards[0].subtitle}
							link={experienceCards[0].link}
							image={experienceCards[0].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[1].title}
							subtitle={experienceCards[1].subtitle}
							link={experienceCards[1].link}
							image={experienceCards[1].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[2].title}
							subtitle={experienceCards[2].subtitle}
							link={experienceCards[2].link}
							image={experienceCards[2].image}
						/>
					</div>
				</div>

				<div class="w-1/4">
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[3].title}
							subtitle={experienceCards[3].subtitle}
							link={experienceCards[3].link}
							image={experienceCards[3].image}
						/>
					</div>
					<div class="h-3/7">
						<ExperienceCard
							client:load
							title={experienceCards[4].title}
							subtitle={experienceCards[4].subtitle}
							link={experienceCards[4].link}
							image={experienceCards[4].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[5].title}
							subtitle={experienceCards[5].subtitle}
							link={experienceCards[5].link}
							image={experienceCards[5].image}
						/>
					</div>
				</div>

				<div class="w-1/4">
					<div class="h-3/7">
						<ExperienceCard
							client:load
							title={experienceCards[6].title}
							subtitle={experienceCards[6].subtitle}
							link={experienceCards[6].link}
							image={experienceCards[6].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[7].title}
							subtitle={experienceCards[7].subtitle}
							link={experienceCards[7].link}
							image={experienceCards[7].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[8].title}
							subtitle={experienceCards[8].subtitle}
							link={experienceCards[8].link}
							image={experienceCards[8].image}
						/>
					</div>
				</div>

				<div class="w-1/4">
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[9].title}
							subtitle={experienceCards[9].subtitle}
							link={experienceCards[9].link}
							image={experienceCards[9].image}
						/>
					</div>
					<div class="h-3/7">
						<ExperienceCard
							client:load
							title={experienceCards[10].title}
							subtitle={experienceCards[10].subtitle}
							link={experienceCards[10].link}
							image={experienceCards[10].image}
						/>
					</div>
					<div class="h-2/7">
						<ExperienceCard
							client:load
							title={experienceCards[11].title}
							subtitle={experienceCards[11].subtitle}
							link={experienceCards[11].link}
							image={experienceCards[11].image}
						/>
					</div>
				</div>
			</div>
		</div>

		<!-- Case Studies -->
		<div class="mx-15 my-10">
			<!-- Title -->
			<div class="bowlby-one-regular text-2xl">Case Studies</div>

			<!-- Content -->
			<div class="h-full">
				<div class="h-[500px] mb-10">
					<CaseStudy
						client:load
						title={caseStudies[0].title}
						description={caseStudies[0].description}
						link={caseStudies[0].link}
						linkBtn={caseStudies[0].linkBtn}
						images={caseStudies[0].images}
					/>
				</div>

				<div class="h-[300px] mb-10">
					<CaseStudy
						client:load
						title={caseStudies[1].title}
						description={caseStudies[1].description}
						link={caseStudies[1].link}
						linkBtn={caseStudies[1].linkBtn}
						images={caseStudies[1].images}
					/>
				</div>

				<div class="h-[300px] mb-10">
					<CaseStudy
						client:load
						title={caseStudies[2].title}
						description={caseStudies[2].description}
						link={caseStudies[2].link}
						linkBtn={caseStudies[2].linkBtn}
						images={caseStudies[2].images}
					/>
				</div>

				<div class="h-[500px] mb-10">
					<CaseStudy
						client:load
						title={caseStudies[3].title}
						description={caseStudies[3].description}
						link={caseStudies[3].link}
						linkBtn={caseStudies[3].linkBtn}
						images={caseStudies[3].images}
					/>
				</div>
			</div>
		</div>

		<!-- Inserted content -->
		<!-- <slot /> -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>